*, ::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

:root {
    --center: 40px;
    --text-size: 1.2rem;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, red, blue);
}

p {
    margin: 2px 3px 2px 3px;
}

.calculator-grid {
    margin-top: var(--center);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: minmax(120px, auto) repeat(7, 65px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: var(--text-size);
    border: 1px solid white;
    outline: none;
    background-color: #7aec2eb9;
}

button:active {
    background: #00000095;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1 ;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .hex-operand, .binary-operand, .decimal-operand {
    color: white;
    font-size: var(--text-size);
}

/* Responsive Web Design */
@media screen and (max-width: 600px) {
    .calculator-grid {
        margin-top: calc(var(--center) + 40px);
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: minmax(120px, auto) repeat(7, 55px);
    }

    .calculator-grid > button {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 360px) {
    .calculator-grid {
        margin-top: calc(var(--center) + 50px);
        grid-template-columns: repeat(5, 45px);
        grid-template-rows: minmax(120px, auto) repeat(7, 40px);
    }

    .calculator-grid > button {
        font-size: 0.7rem;
    }
}